*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: #0d2113; */
}

canvas {
    /* box-shadow: 0 0 0 8px #1a3123; */
    /* box-shadow: 0 0 0 8px #224e33; */
}